/*  */
/*  *//*  */
/*  */
/*  */
/*  */
input[value= "1"]{
    background-color: aqua;
}
input[value= "2"]{
    background-color: bisque;
}
h1{
    color: blue;
}
body{
    text-align: center;
}
.border{
    border: 4px solid black;
}